{% block head_scripts %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/mr_deepgram/static/tts.css" />
    <script type="module" src="/mr_deepgram/static/ttsbundle.js"></script>

{% endblock %}


